doctype html

html
  head
    title دا د پاڼې سرلیک دی
    meta(charset="UTF-8")
    link(rel="stylesheet" href="/stylesheets/application.css")
  body
    nav
      ul
        li
          a(href="/english")
            img.flag(src="/images/flag-of-United-States-of-America.png"
                     alt="US Flag"
                     title="Go to US English site")
        li
          a(href="/french")
            img.flag(src="/images/flag-of-France.png"
                     alt="Drapeau de la france"
                     title="Aller sur le site français")
        li
          a(href="/serbian")
            img.flag(src="/images/flag-of-Serbia.png"
                     alt="Застава Србије"
                     title="Идите на српски сајт")
        li
          a.current(href="/pashto")
            img.flag(src="/images/flag-of-Afghanistan.png"
                     alt="د افغانستان بیرغ"
                     title="د افغانستان پښتو سایټ ته لاړ شئ")
    header
      h1 سلام نړی!
    main
      p زه به ډیر ژر د سافټویر انجینر شم!
      img(src="/images/earth.jpg" alt="The Earth" title="The Eath")